{% load static %}
<div class="container" style="font-size:1.1em;">
  <h1>Introduzione</h1>
<p><a href="https://almalibri.it">Almalibri</a> è una banca dati destinata agli operatori che si occupano di editoria universitaria, 
    un settore in rapida crescita che si rivolge non solo agli studenti ma anche alle aziende e ai professionisti.
     In questa pagina troverete una serie di esempi che consentono di aiutare la consultazione e l'uso dei dati di Almalibri.</p>
<ul>
<li>Quali sono i testi adottati in un settore disciplinare &nbsp;
 
     <a class="btn btn-outline-primary"  style="padding: 6px 12px 6px 12px; line-height: 1.42857143; vertical-align: middle;"
    href="{% url 'page' 'elenco_adozioni' %}">Leggi</a>

</li>
<li>quali caratteristiche editoriali trovano l'approvazione degli esperti della disciplina &nbsp;
  <a class="btn btn-outline-primary"  style="padding: 6px 12px 6px 12px; line-height: 1.42857143; vertical-align: middle;"
    href="{% url 'page' 'caratteristiche_editoriali' %}">Leggi</a>
</li>
<li>quanti sono i corsi in cui quella disciplina viene insegnata &nbsp;
  <a class="btn btn-outline-primary"  style="padding: 6px 12px 6px 12px; line-height: 1.42857143; vertical-align: middle;"
  href="{% url 'page' 'count_of_insegnamenti' %}">Leggi</a>
</li>
<li>il numero degli studenti che li frequenta &nbsp;
  <a class="btn btn-outline-primary"  style="padding: 6px 12px 6px 12px; line-height: 1.42857143; vertical-align: middle;"
  href="{% url 'page' 'numero_studenti' %}">Leggi</a>
</li>
<li>chi sono effettivamente i docenti che possono, con l'adozione, promuovere o meno il successo di un testo &nbsp;
  <a class="btn btn-outline-primary"  style="padding: 6px 12px 6px 12px; line-height: 1.42857143; vertical-align: middle;"
  href="{% url 'page' 'elenco_docenti' %}">Leggi</a>
</li>
</ul>
<p>Infine quanli sono effettivamente</p>
<ul>
<li>i corsi dove le adozioni sono già presenti &nbsp;
  <a class="btn btn-outline-primary"  style="padding: 6px 12px 6px 12px; line-height: 1.42857143; vertical-align: middle;"
  href="{% url 'page' 'distribuzione' %}">Leggi</a><br />
</li>
<li>quante copie si può prevedere di distribuire e in quali località.
</li>

</ul>

<p>Infine ecco una pagina dedicata alla valutazione del fatturato complessivo del <a  href="{% url 'page' 'mercato' %}">
  mercato</a> dell'editoria universitaria.</p>


<nav  aria-label="Leggi di più">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" href="{% url 'page' 'index' %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
  <li class="page-item"><a class="page-link" href="{% url 'page' 'index' %}">Precedente</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'page' 'elenco_adozioni' %}">Leggi di più</a></li>
      <li class="page-item">
        <a class="page-link" href="{% url 'page' 'elenco_adozioni' %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          
        </a>
      </li>
    </ul>
  </nav>
</div>